In [1]:
# p.222 リスト 8.3

# pandas を pd として import します
import pandas as pd

# Series 用のラベル作成（インデックス）
index = ["apple", "orange", "banana", "strawberry", "kiwifruit"]

# Series 用のデータ値の代入
data = [10, 5, 8, 12, 3]

# Series 作成
series = pd.Series(data, index=index)

# 辞書型を用いて DataFrame 用のデータを作成
data = {"fruit": ["apple", "orange", "banana", "strawberry", "kiwifruit"],
        "year":  [2001,    2002,     2001,     2008,         2006],
        "time":  [1,       4,        5,        6,            3]}

# DataFrame 作成
df = pd.DataFrame(data)

print("Seriesデータ")
print(series)
print("\n")
print("DataFrameデータ")
print(df) # なぜか列の順番がテキストとは違う

Seriesデータ
apple         10
orange         5
banana         8
strawberry    12
kiwifruit      3
dtype: int64


DataFrameデータ
        fruit  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3

In [2]:
# 8.2 Series
# p.225 リスト 8.6

# pandas を pd として import します
import pandas as pd

index = ["apple", "orange", "banana", "strawberry", "kiwifruit"]
data = [10, 5, 8, 12, 3]

# index と data を含む Series を作成し series1 に代入
series1 = pd.Series(data, index=index)
print(series1)

apple         10
orange         5
banana         8
strawberry    12
kiwifruit      3
dtype: int64

In [3]:
# 8.2.2 参照

fruits = {"banana": 3, "orange": 4, "grape": 1, "peach": 5}
series = pd.Series(fruits)
print(series[0:2])

banana    3
orange    4
dtype: int64

In [4]:
print(series[["orange", "peach"]])

orange    4
peach     5
dtype: int64

In [5]:
# 問題 リスト 8.10

index = ["apple", "oraneg", "banana", "strawberry", "kiwifruit"]
data = [10, 5, 8, 12, 3]
series = pd.Series(data, index=index)

# インデックス参照を用いて series の 2 つ目から 4 つ目までの 3 つの要素を取り出して item1 に代入
item1 = series[1:4]
print(item1)
print()

# インデックス値を指定する方法を用いて "apple", "banana", "kiwifruit" のインデックスを持つ要素を取り出して item2 に代入
item2 = series[["apple", "banana", "kiwifruit"]]
print(item2)

oraneg         5
banana         8
strawberry    12
dtype: int64

apple        10
banana        8
kiwifruit     3
dtype: int64

In [6]:
# 8.2.3 データ、インデックスを取り出す
# 問題 リスト 8.12

index = ["apple", "orange", "banana", "strawberry", "kiwifruit"]
data = [10, 5, 8, 12, 3]
series = pd.Series(data, index=index)

# series_values に series のデータを代入
series_values = series.values

# series_index に series のインデックスを代入
series_index = series.index

print(series_values)
print(series_index)

[10  5  8 12  3]
Index(['apple', 'orange', 'banana', 'strawberry', 'kiwifruit'], dtype='object')

In [7]:
# 8.2.4 要素を追加する
# 問題 リスト 8.15

index = ["apple", "orange", "banana", "strawberry", "kiwifruit"]
data = [10, 5, 8, 12, 3]
series = pd.Series(data, index=index)
print(series)
print()

# series にインデックスが "pineapple"、データが 12 の要素を追加
b = pd.Series([12], index=["pineapple"])
print(b)
print()

#series = series.append(b) # append がなくなった
# よって、別のオブジェクトになるが concat を利用
print("pd.concat")
print(pd.concat([series, b]))
print()

# あるいは
series["pineapple"] = 12 # 追加は辞書のようにできる

print(series)

apple         10
orange         5
banana         8
strawberry    12
kiwifruit      3
dtype: int64

pineapple    12
dtype: int64

pd.concat
apple         10
orange         5
banana         8
strawberry    12
kiwifruit      3
pineapple     12
dtype: int64

apple         10
orange         5
banana         8
strawberry    12
kiwifruit      3
pineapple     12
dtype: int64

In [8]:
# 8.2.5 要素を削除する
# 問題 リスト 8.17

index = ["apple", "orange", "banana", "strawberry", "kiwifruit"]
data = [10, 5, 8, 12, 3]

# index と data を含む Series を作成し series に代入
series = pd.Series(data, index=index)
print(series)
print()

# インデックスが strawberry の要素を削除して series に代入
series = series.drop("strawberry")
print(series)
print()

apple         10
orange         5
banana         8
strawberry    12
kiwifruit      3
dtype: int64

apple        10
orange        5
banana        8
kiwifruit     3
dtype: int64

In [9]:
# 8.2.6 フィルタリング
# 問題 リスト 8.21

index = ["apple", "orange", "banana", "strawberry", "kiwifruit"]
data = [10, 5, 8, 12, 3]
series = pd.Series(data, index=index)

# series 内の要素のうち、値が 5 以上 10 未満の要素を含む Series を作り、Series に再代入
series = series[series >= 5][series < 10]

print(series)

orange    5
banana    8
dtype: int64

In [12]:
# p.235 8.2.7 ソート
# リスト 8.23

index = ["apple", "orange", "banana", "strawberry", "kiwifruit"]
data = [10, 5, 8, 12, 3]
series = pd.Series(data, index=index)

print(series)
print()

# series をインデックスについてアルファベット順にソートした Series を item1 に代入
item1 = series.sort_index()
print(item1)
print()

# series をデータについて値の大きさを順にソートした Series を items に代入
item2 = series.sort_values()
print(item2)

apple         10
orange         5
banana         8
strawberry    12
kiwifruit      3
dtype: int64

apple         10
banana         8
kiwifruit      3
orange         5
strawberry    12
dtype: int64

kiwifruit      3
orange         5
banana         8
apple         10
strawberry    12
dtype: int64

In [13]:
# p.237 8.3.1 DataFrame の生成 リスト 8.26

index = ["apple", "orange", "banana", "starwberry", "kiwifruit"]
data1 = [10, 5, 8, 12, 3]
data2 = [30, 25, 12, 10, 8]
series1 = pd.Series(data1, index=index)
series2 = pd.Series(data2, index=index)

# series1, series2 から DataFrame を生成して df に代入
df = pd.DataFrame([series1, series2])

print(df)

   apple  orange  banana  starwberry  kiwifruit
0     10       5       8          12          3
1     30      25      12          10          8

In [46]:
# p.239 8.3.2 インデックスとカラムを設定する

index = ["apple", "orange", "banana", "starwberry", "kiwifruit"]
data1 = [10, 5, 8, 12, 3]
data2 = [30, 25, 12, 10, 8]
series1 = pd.Series(data1, index=index)
series2 = pd.Series(data2, index=index)
df = pd.DataFrame([series1, series2])
print(df)
print()

# df のインデックスが 1 から始まるように設定
df.index = [1, 2]

print(df)

   apple  orange  banana  starwberry  kiwifruit
0     10       5       8          12          3
1     30      25      12          10          8

   apple  orange  banana  starwberry  kiwifruit
1     10       5       8          12          3
2     30      25      12          10          8

In [47]:
# p.240 8.3.3 行を追加する リスト 8.31

index = ["apple", "orange", "banana", "starwberry", "kiwifruit"]
data1 = [10, 5, 8, 12, 3]
data2 = [30, 25, 12, 10, 8]
data3 = [30, 12, 10, 8, 25, 3]
series1 = pd.Series(data1, index=index)
series2 = pd.Series(data2, index=index)

# df に series3 を追加し、df に再代入
index.append("pineapple")
series3 = pd.Series(data3, index=index)
df = pd.DataFrame([series1, series2])

# append は使えなくなった。代わりに pd.concat を使う
print("df")
print(df)
print()

df3 = pd.DataFrame([series3])
print("df3")
print(df3)
print()

print("df = df + df3  pd.concat を利用")
df = pd.concat([df, df3])
df.index = [0, 1, 2]
print("df")
print(df)

df
   apple  orange  banana  starwberry  kiwifruit
0     10       5       8          12          3
1     30      25      12          10          8

df3
   apple  orange  banana  starwberry  kiwifruit  pineapple
0     30      12      10           8         25          3

df = df + df3  pd.concat を利用
df
   apple  orange  banana  starwberry  kiwifruit  pineapple
0     10       5       8          12          3        NaN
1     30      25      12          10          8        NaN
2     30      12      10           8         25        3.0

In [51]:
# p.242 8.3.4 列を追加する
# リスト 8.34

index = ["apple", "orange", "banana", "starwberry", "kiwifruit"]
data1 = [10, 5, 8, 12, 3]
data2 = [30, 25, 12, 10, 8]
series1 = pd.Series(data1, index=index)
series2 = pd.Series(data2, index=index)

new_column = pd.Series([15, 7], index=[0, 1])

# series1, series2 から DataFrame を生成
df = pd.DataFrame([series1, series2])
print(df)
print()

# df の新しい列 "mango" に new_column のデータを追加
df["mango"] = new_column
print(df)

   apple  orange  banana  starwberry  kiwifruit
0     10       5       8          12          3
1     30      25      12          10          8

   apple  orange  banana  starwberry  kiwifruit  mango
0     10       5       8          12          3     15
1     30      25      12          10          8      7