In [5]:
# p.245 8.3.6 名前により参照
# リスト 8:38

import numpy as np
import pandas as pd

np.random.seed(0)
columns = ["apple", "orange", "banana", "starwberry", "kiwifruit"]

# DataFrame を生成し、列を追加
df = pd.DataFrame()

for column in columns:
    df[column] = np.random.choice(range(1, 11), 10)

# range(開始行数, 終了行数 - 1)
df.index = range(1, 11)

print(df)
print()

# loc[] を使って df の 2 行目から 5 行目までの 4 行と、"banana"、"kiwifruit" の 2 列を含む DataFrame を df に代入
df = df.loc[range(2, 6), ["banana", "kiwifruit"]]
print(df)

    apple  orange  banana  starwberry  kiwifruit
1       6       8       6           3         10
2       1       7      10           4         10
3       4       9       9           9          1
4       4       9      10           2          5
5       8       2       5           4          8
6      10       7       4           4          4
7       4       8       1           4          3
8       6       8       4           8          8
9       3       9       6           1          3
10      5       2       1           2          1

   banana  kiwifruit
2      10         10
3       9          1
4      10          5
5       5          8

In [11]:
# p.248 8.3.7 番号による参照
# リスト 8.42
np.random.seed(0)

columns = ["apple", "orange", "banana", "strawberry", "kiwifruit"]

# DataFrame を生成し、列を追加
df = pd.DataFrame()
for column in columns:
    df[column] = np.random.choice(range(1, 11), 10)

df.index = range(1, 11)
print(df)
print()

# iloc[] を使って df の 2 行目から 5 行目までの 4 行と、"banana", "kiwifruit" の 2 列を含む DataFrame を df に代入
df = df.iloc[1:5, [2, 4]]
print(df)

    apple  orange  banana  strawberry  kiwifruit
1       6       8       6           3         10
2       1       7      10           4         10
3       4       9       9           9          1
4       4       9      10           2          5
5       8       2       5           4          8
6      10       7       4           4          4
7       4       8       1           4          3
8       6       8       4           8          8
9       3       9       6           1          3
10      5       2       1           2          1

   banana  kiwifruit
2      10         10
3       9          1
4      10          5
5       5          8

In [15]:
# p.250 8.3.8 行または列の削除
# リスト 8.45
np.random.seed(0)
columns = ["apple", "orange", "banana", "strawberry", "kiwifruit"]

# DataFrame を生成し、列を追加
df = pd.DataFrame()
for column in columns:
    df[column] = np.random.choice(range(1, 11), 10)

df.index = range(1, 11)

# drop() を用いて df の奇数のインデックスがついている行のみを残して df に代入
df = df.drop(np.arange(2, 11, 2))
print(df)
print()

df = df.drop("strawberry", axis=1)
print(df)

   apple  orange  banana  strawberry  kiwifruit
1      6       8       6           3         10
3      4       9       9           9          1
5      8       2       5           4          8
7      4       8       1           4          3
9      3       9       6           1          3

   apple  orange  banana  kiwifruit
1      6       8       6         10
3      4       9       9          1
5      8       2       5          8
7      4       8       1          3
9      3       9       6          3